{% if collections | length > 1 %}
<div class="tzunghaor_settings_collection_selector tzunghaor_settings_selector tzunghaor_settings_list_container">
    <h3>Collections</h3>
    <ul>
        {% for collection in collections %}
            <li>
                <a href="{{ collection.url }}"
                        {% if collection.name == currentCollection %} class="tzunghaor_settings_current"{% endif %}
                >
                    {{ collection.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
