{# snippet to render the collection/scope/section selector #}
{% block ts_list %}
    <ul>
        {% for item in items %}
            <li {% if item.name == currentName %} class="tzunghaor_settings_current"{% endif %}>
                {% if item.url %}
                    <a href="{{ item.url }}" class="tzunghaor_settings_item">
                        {% block ts_item_label %}{{ item.title }}{% endblock %}
                    </a>
                {% else %}
                    <span class="tzunghaor_settings_item">
                        {{ block('ts_item_label') }}
                    </span>
                {% endif %}
                {% if item.children is defined and item.children %}
                    {% block ts_children %}
                    {{ include('@TzunghaorSettings/list.html.twig', { items: item.children, currentName }) }}
                    {% endblock %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
