{% macro list(scopes, currentScope, currentSection) %}
    <ul>
        {% for scope in scopes %}
            <li>
                <a href="{{ url('tzunghaor_settings_edit', {'scope': scope.name, 'section': currentSection}) }}"
                   {% if scope.name == currentScope %} class="tzunghaor_settings_current"{% endif %}
                    >
                    {{ scope.name }}
                </a>

                {% if scope.children is defined %}
                    {{ _self.list(scope.children, currentScope, currentSection) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<div class="tzunghaor_settings_scope_selector tzunghaor_settings_selector">
    <h3>Scopes</h3>

    {{ _self.list(scopes, currentScope, currentSection) }}
</div>
