{% macro list(scopes, currentCollection, currentScope, currentSection) %}
    <ul>
        {% for scope in scopes %}
            <li>
                <a href="{{ url('tzunghaor_settings_edit', {
                    'collection': currentCollection, 'scope': scope.name, 'section': currentSection }) }}"
                   {% if scope.name == currentScope %} class="tzunghaor_settings_current"{% endif %}
                    >
                    {{ scope.name }}
                </a>

                {% if scope.children is defined %}
                    {{ _self.list(scope.children, currentCollection, currentScope, currentSection) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<div class="tzunghaor_settings_scope_selector tzunghaor_settings_selector">
    <script type="application/json" class="tzunghaor_settings_scope_selector_data">{{
        {
            'searchUrl': url('tzunghaor_settings_scope_search'),
            'collection': currentCollection,
            'section': currentSection,
            'currentScope': currentScope,
        } | json_encode | raw }}</script>

    <h3>Scopes</h3>

    <input class="tzunghaor_settings_scope_search" type="text" />
    <div class="tzunghaor_settings_scopes_list">
    {{ _self.list(scopes, currentCollection, currentScope, currentSection) }}
    </div>

    <template style="display: none" class="tzunghaor_settings_scope_list_template">
        <ul>
            %list%
        </ul>
    </template>

    <template style="display: none" class="tzunghaor_settings_scope_template">
        <li>
            <a href="%url%" class="%if(iscurrent){tzunghaor_settings_current}%">%name%</a>
            %children%
        </li>
    </template>
</div>
