{% if scopes is not empty  %}
    <div class="tzunghaor_settings_scope_selector tzunghaor_settings_selector">
        <script type="application/json" class="tzunghaor_settings_scope_selector_data">{{
            {
                'searchUrl': url('tzunghaor_settings_scope_search'),
                'linkRoute': linkRoute,
                'collection': currentCollection,
                'section': currentSection,
                'currentScope': currentScope,
            } | json_encode | raw }}</script>

        <h3>Scopes</h3>

        <input class="tzunghaor_settings_scope_search" type="text" />
        <div class="tzunghaor_settings_scopes_list tzunghaor_settings_list_container">
            {{ include('@TzunghaorSettings/list.html.twig', { items: scopes, currentName: currentScope }) }}
        </div>
    </div>
{% endif %}
