{% if sections | length > 1 %}
    <div class="tzunghaor_settings_section_selector tzunghaor_settings_selector tzunghaor_settings_list_container">
        <h3>Sections</h3>
        <ul>
            {% for section in sections %}
                <li>
                    <a href="{{ section.url }}"
                            {% if section.name == currentSection %} class="tzunghaor_settings_current"{% endif %}
                    >
                        {{ section.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
