parameters:
    level: 4
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - ./src/
        - ./vendor

    excludePaths:
#      - 'src/Resources/skeleton'
#      - */cache/*
       analyse:
                  - ./vendor

    ignoreErrors:
        # It's expected that one of the two Type classes referenced is missing
        - identifier: class.notFound
          paths:
              - src/Model/Type.php
              - src/Service/BuiltinSettingConverter.php
              - src/Service/SettingConverterInterface.php