

.tzunghaor_setting_group {
    background-color: #FFFFFF;
    margin: 1rem 0;
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid #AAAAAA;
    line-height: 180%;
    flex-wrap: wrap;
}

.tzunghaor_setting_group.disabled .tzunghaor_setting_value {
    background: #EEEEEE;
    color: #888888;
}

.tzunghaor_setting_override,
.tzunghaor_setting_value {
    padding: 0.3rem 0.5rem;
    vertical-align: top;
}

.tzunghaor_setting_value {
    flex-grow: 2;
}

.tzunghaor_setting_changed {
    background-color: #AADDFF;
}

.tzunghaor_setting_labeled_widget {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.tzunghaor_setting_labeled_widget > label {
    padding-right: 1rem;
    font-weight: bold;
}

.tzunghaor_settings_collection_row {
    display: flex;
    align-items: baseline;
}

.tzunghaor_settings_collection_row > * {
    margin: 0.5rem 0.3rem;
}

.tzunghaor_settings_collection_row > *:first-child {
    margin-left: 0;
}

.tzunghaor_settings_page {
    display: flex;
    flex-wrap: wrap;
}

.tzunghaor_settings_sidebar {
    width: 15rem;
}


.tzunghaor_settings_selector {
    padding: 0;
}

.tzunghaor_settings_selector ul {
    list-style-type: none;
    padding-left: 1rem;
}

/* the top-level list in the container (scopes can have nested lists) */
.tzunghaor_settings_list_container > ul {
    margin: 1rem 0;
    padding-left: 0;
}

.tzunghaor_settings_selector .tzunghaor_settings_item {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.3rem;
    text-decoration: none;
}

.tzunghaor_settings_selector a {
    color: #114455;
}

.tzunghaor_settings_selector ul a:hover {
    text-decoration: underline;
}

.tzunghaor_settings_current > .tzunghaor_settings_item {
    background-color: #EEEEEE;
}

.tzunghaor_settings_main {
    position: relative;
}

.tzunghaor_settings_editor {
    padding: 0 1rem;
}

.tzunghaor_settings_editor .help-text {
    margin: 0.2rem 0 0 0;
    font-size: 90%;
}

.tzunghaor_settings_editor textarea {
    font-size: inherit;
    min-height: 3rem;
    height: 5rem;
    min-width: 30rem;
}

.tzunghaor_settings_error {
    color: #880000;
}

.tzunghaor_settings_error ul {
    margin: 0.2rem 0 0 0;
}

.tzunghaor_settings_messages {
    position: absolute;
    right: 0;
}

.tzunghaor_settings_message {
    padding: 0.2rem 1rem;
    margin: 0.2rem 0;
    border-radius: 0.2rem;
    box-shadow: -0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
    animation: 5s tzunghaor_appear_vanish forwards;
}

@keyframes tzunghaor_appear_vanish {
    0% {
        opacity: 0;
        display: inherit;
    }

    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.tzunghaor_settings_message.flash-success {
    background-color: #338844;
    color: white;
}