{# The built-in editor page #}
<!DOCTYPE html>
<html lang="en">
<head>
    {% use "@TzunghaorSettings/editor_blocks.html.twig" %}
    <meta charset="UTF-8">
    <title>{% block ts_page_title %}Tzunghaor Settings{% endblock %}</title>
    {{ block('ts_stylesheets') }}
</head>
<body>
{{ block('ts_body') }}
{{ block('ts_javascripts') }}
</body>
</html>
