name: Run tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run_tests:
    strategy:
      matrix:
        php_version: ["8.0", "8.2"]
        composer_args: [""]
        symfony_version: ["6.*"]
        include:
          - symfony_version: "5.*"
            php_version: "8.0"
            composer_args: "--prefer-lowest"
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v3

      - name: Cache Composer dependencies
        uses: actions/cache@v3
        with:
          path: /tmp/composer-cache
          key: ${{ runner.os }}-${{ hashFiles('**/composer.json') }}

      - name: Install dependencies
        uses: php-actions/composer@v6
        with:
          command: update
          php_version: ${{ matrix.php_version }}
          args: ${{ matrix.composer_args }}
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony_version }}

      - name: Run tests
        uses: php-actions/phpunit@v3
        with:
          vendored_phpunit_path: vendor/bin/phpunit
          memory_limit: 512M
        env:
          APP_ENV: test

